<!DOCTYPE html>
<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Script Eden ( http://scripteden.net/ ) Template Builder v2.0.0">
    <!--pageMeta-->

    <!-- Loading Bootstrap -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="stylesheets/flat-ui.css" rel="stylesheet">

    <link href="stylesheets/style.css" rel="stylesheet">

    <link href="stylesheets/style.complete.css" rel="stylesheet">


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
    <script src="javascripts/html5shiv.js"></script>
    <script src="javascripts/respond.min.js"></script>
    <![endif]-->

    <!--headerIncludes-->


</head>
<body>

<div id="page" class="page">

    <header class="item header margin-top-0 header10" id="header10" style="outline-offset: -3px;">

        <div class="wrapper">

            <nav role="navigation" class="navbar navbar-white navbar-embossed navbar-lg navbar-fixed-top">

                <div class="container">

                    <div class="navbar-header">
                        <button data-target="#navbar-collapse-02" data-toggle="collapse" class="navbar-toggle" type="button">
                            <span class="sr-only">Toggle navigation</span>
                        </button>
                        <a href="#" class="navbar-brand brand"><img src="images/icons/solarcapital2.svg" alt=""><strong> 阳光资本</strong></a>
                    </div>

                    <div id="navbar-collapse-02" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active propClone"><a href="/">首 页</a></li>
                            <li class="propClone"><a href="/service">服 务</a></li>
                            <li class="propClone"><a href="/bbs">社 区</a></li>
                            <li class="propClone"><a href="/about">联系我们</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>

            </div><!-- /.container -->

        </div><!-- /.wrpaper -->

        <header class="wrapper grey">

            <div class="container">

                <div class="row banner2">

                    <div class="col-md-7">

                        <h1 class="editContent">Vestibulum pellentesque nunc ac porta</h1>

                        <p class="editContent">
                            Proin ullamcorper non neque nec lacinia. Praesent sodales libero accumsan pulvinar tempus. Proin nec lacus enim. Vivamus ullamcorper iaculis arcu et semper. Nulla venenatis nibh sed ligula placerat bibendum. Suspendisse malesuada enim eget elit congue rutrum.
                        </p>

                        <a href="#" class="btn btn-primary btn-embossed btn-wide"><span class="fa fa-arrow-circle-o-right"></span> 了解更多</a>

                    </div>

                </div><!-- /.row -->

            </div><!-- /.container -->

        </header></div><!-- /.wrapper -->

    <!-- /.item --><!-- Start Contact 1 -->
    <section class="content-block contact-1">
        <div class="container text-center">

            <div class="col-sm-10 col-sm-offset-1">

                <div class="underlined-title">
                    <div class="editContent">
                        <h1>如何找到我们</h1>
                    </div>
                    <hr>
                    <div class="editContent">
                        <h2>您有任何关于服务的疑问都可以直接联系我们</h2>
                    </div>
                </div>

                <div class="editContent">
                    <p>Cras mattis consectetur purus sit amet fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Aenean eu leo quam. Pellentesque ornare sem lacinia.</p>
                </div>
                <div class="editContent">
                    <ul class="contact-info">
                        <li><span class="fa fa-map-marker"></span>工业园区星湖街188号, 苏州, 江苏, 中国</li>
                        <li><span class="fa fa-phone"></span>+86 (0) 1377 6099 774</li>
                        <li><span class="fa fa-envelope"></span><a href="mailto:buyme@bootstrapstarterkit.com">songjie1984@gmail.com</a> </li>
                    </ul>
                </div>

                <div class="form-container">
                    <form class="forms" action="contact/form-handler.php" method="post">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <input type="text" value="" placeholder="姓名" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <input type="text" value="" placeholder="邮箱" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <input type="text" value="" placeholder="电话" class="form-control">
                                </div>
                            </div>
                        </div><!-- /.row -->
                        <div class="form-group">
                            <textarea class="form-control" rows="3" placeholder="内容" id="textArea"></textarea>
                            <div class="editContent">
                                <p class="small muted">我们会在第一时间内回复您的问题.</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <a href="#" class="btn btn-primary">Send</a>
                        </div>
                    </form>
                </div><!-- /.form-container -->

            </div><!-- /.col-sm-10 -->

        </div><!-- /.container -->
    </section><!-- /.content-block -->
    <!--// END Contact 1 --><div class="wrapperDark">

        <div class="container" id="divider5">

            <div class="col-md-12">

                <div class="divider dashed">

                    <span class="editContent">我们的团队</span>

                </div><!-- /.divider -->

            </div><!-- /.col -->

        </div><!-- /.container -->

    </div><!-- /.wrapperDark --><div class="item team" id="team3">

        <div class="container">

            <div class="row margin-bottom-40">

                <div class="col-md-12">

                    <p class="lead text-center">
                        We're awesome - get to know us better!
                    </p>

                </div><!-- /.col-md-12 -->

            </div><!-- /.row -->

            <div class="row margin-bottom-20">

                <div class="col-md-10 col-md-offset-1">

                    <div class="row margin-bottom-40">

                        <div class="col-md-6 clearfix">

                            <div class="pull-left photo">

                                <img src="images/team1.jpg" class="img-circle" alt="">

                            </div>

                            <div class="pull-left about">

                                <h5>Mattijs Naus</h5>

                                <p>
                                    Web developer, designer, lover of cigars and fine whisky
                                </p>

                                <p class="contacts">
                                    <span class="fa fa-envelope"></span> <a href="mailto">mattijs@somewhere.com</a><br>
                                    <span class="fa fa-globe"></span> <a href="">www.somewhere.com</a>
                                </p>

                                <p class="social">
                                    <a href=""><span class="fa fa-facebook-square"></span></a>&nbsp;&nbsp;
                                    <a href=""><span class="fa fa-twitter-square"></span></a>&nbsp;&nbsp;
                                    <a href=""><span class="fa fa-linkedin-square"></span></a>&nbsp;&nbsp;
                                    <a href=""><span class="fa fa-google-plus-square"></span></a>
                                </p>

                            </div>

                        </div><!-- /.col-md-6 -->

                        <div class="col-md-6 clearfix">

                            <div class="pull-left photo">

                                <img src="images/team1.jpg" class="img-circle" alt="">

                            </div>

                            <div class="pull-left about">

                                <h5>Mattijs Naus</h5>

                                <p>
                                    Web developer, designer, lover of cigars and fine whisky
                                </p>

                                <p class="contacts">
                                    <span class="fa fa-envelope"></span> <a href="mailto">mattijs@somewhere.com</a><br>
                                    <span class="fa fa-globe"></span> <a href="">www.somewhere.com</a>
                                </p>

                                <p class="social">
                                    <a href=""><span class="fa fa-facebook-square"></span></a>&nbsp;&nbsp;
                                    <a href=""><span class="fa fa-twitter-square"></span></a>&nbsp;&nbsp;
                                    <a href=""><span class="fa fa-linkedin-square"></span></a>&nbsp;&nbsp;
                                    <a href=""><span class="fa fa-google-plus-square"></span></a>
                                </p>

                            </div>

                        </div><!-- /.col-md-6 -->

                    </div><!-- /.row -->

                    <div class="row margin-bottom-40">

                        <div class="col-md-6 clearfix">

                            <div class="pull-left photo">

                                <img src="images/team1.jpg" class="img-circle" alt="">

                            </div>

                            <div class="pull-left about">

                                <h5>Mattijs Naus</h5>

                                <p>
                                    Web developer, designer, lover of cigars and fine whisky
                                </p>

                                <p class="contacts">
                                    <span class="fui-mail"></span> <a href="mailto">mattijs@somewhere.com</a><br>
                                    <span class="fui-home"></span> <a href="">www.somewhere.com</a>
                                </p>

                                <p class="social">
                                    <a href=""><span class="fa fa-facebook-square"></span></a>&nbsp;&nbsp;
                                    <a href=""><span class="fa fa-twitter-square"></span></a>&nbsp;&nbsp;
                                    <a href=""><span class="fa fa-linkedin-square"></span></a>&nbsp;&nbsp;
                                    <a href=""><span class="fa fa-google-plus-square"></span></a>
                                </p>

                            </div>

                        </div><!-- /.col-md-6 -->

                        <div class="col-md-6 clearfix">

                            <div class="pull-left photo">

                                <img src="images/team1.jpg" class="img-circle" alt="">

                            </div>

                            <div class="pull-left about">

                                <h5>Mattijs Naus</h5>

                                <p>
                                    Web developer, designer, lover of cigars and fine whisky
                                </p>

                                <p class="contacts">
                                    <span class="fui-mail"></span> <a href="mailto">mattijs@somewhere.com</a><br>
                                    <span class="fui-home"></span> <a href="">www.somewhere.com</a>
                                </p>

                                <p class="social">
                                    <a href=""><span class="fa fa-facebook-square"></span></a>&nbsp;&nbsp;
                                    <a href=""><span class="fa fa-twitter-square"></span></a>&nbsp;&nbsp;
                                    <a href=""><span class="fa fa-linkedin-square"></span></a>&nbsp;&nbsp;
                                    <a href=""><span class="fa fa-google-plus-square"></span></a>
                                </p>

                            </div>

                        </div><!-- /.col-md-6 -->

                    </div><!-- /.row -->

                </div><!-- /.col-md-8 -->

            </div><!-- /.row -->

        </div><!-- /.container -->

    </div><!-- /.item --><!-- Start Footer 1-3 -->
    <section class="content-block-nopad bg-deepocean">
        <div class="container footer-1-3">
            <div class="col-md-4 pull-left">
                <img src="images/brand/solar.png" class="brand-img img-responsive">
                <ul class="social social-light">
                    <li><a href="#"><i class="fa fa-2x fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-2x fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-2x fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-2x fa-pinterest"></i></a></li>
                    <li><a href="#"><i class="fa fa-2x fa-behance"></i></a></li>
                    <li><a href="#"><i class="fa fa-2x fa-dribbble"></i></a></li>
                </ul><!-- /.social -->
            </div>
            <div class="col-md-3 pull-right">
                <div class="editContent">
                    <p class="address-bold-line">我们 <span class="fa fa-heart pomegranate"></span> 我们的客户</p>
                </div>
                <div class="editContent">
                    <p class="address small">
                        工业园区星湖街188号,<br>
                        江苏-苏州,<br>
                        中国 China
                    </p>
                </div>
            </div>
            <div class="col-xs-12 footer-text">
                <div class="editContent">
                    <p>请花几分钟时间仔细阅读我们的使用 <a href="#">条款 &amp; 约束</a> 以及 <a href="#">隐私策略</a></p>
                </div>
            </div>
        </div><!-- /.container -->
    </section>
    <!--// END Footer 1-3 --></div><!-- /#page -->


<!-- Load JS here for greater good =============================-->
<script src="javascripts/jquery-1.8.3.min.js"></script>
<script src="javascripts/jquery-ui-1.10.3.custom.min.js"></script>
<script src="javascripts/jquery.ui.touch-punch.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/bootstrap-select.js"></script>
<script src="javascripts/bootstrap-switch.js"></script>
<script src="javascripts/flatui-checkbox.js"></script>
<script src="javascripts/flatui-radio.js"></script>
<script src="javascripts/jquery.tagsinput.js"></script>
<script src="javascripts/jquery.placeholder.js"></script>
<script src="javascripts/jquery.nivo.slider.pack.js"></script>
<script src="javascripts/application.js"></script>
<script src="javascripts/over.js"></script>
<script>
    $(function(){

        if( $('#nivoSlider').size() > 0 ) {

            $('#nivoSlider').nivoSlider({
                effect: 'random',
                pauseTime: 5000
            });

        }

    })
</script>


</body></html>