<!DOCTYPE html>
<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Script Eden ( http://scripteden.net/ ) Template Builder v2.0.0">
    <!--pageMeta-->

    <!-- Loading Bootstrap -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="stylesheets/flat-ui.css" rel="stylesheet">

    <link href="stylesheets/style.css" rel="stylesheet">

    <link href="stylesheets/style.complete.css" rel="stylesheet">


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
    <script src="javascripts/html5shiv.js"></script>
    <script src="javascripts/respond.min.js"></script>
    <![endif]-->

    <!--headerIncludes-->


</head>
<body>

<div id="page" class="page">

    <header class="item header margin-top-0 header10" id="header10" style="outline-offset: -3px;">

        <div class="wrapper">

            <nav role="navigation" class="navbar navbar-white navbar-embossed navbar-lg navbar-fixed-top">

                <div class="container">

                    <div class="navbar-header">
                        <button data-target="#navbar-collapse-02" data-toggle="collapse" class="navbar-toggle" type="button">
                            <span class="sr-only">Toggle navigation</span>
                        </button>
                        <a href="#" class="navbar-brand brand"><img src="images/icons/solarcapital2.svg" alt=""><strong> 阳光资本</strong></a>
                    </div>

                    <div id="navbar-collapse-02" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="propClone"><a href="/">首 页</a></li>
                            <li class="propClone"><a href="/service">服 务</a></li>
                            <li class="propClone"><a href="/bbs">社 区</a></li>
                            <li class="propClone"><a href="/about">联系我们</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>

            </div><!-- /.container -->

        </div><!-- /.wrpaper -->

        <header class="wrapper grey">

            <div class="container">

                <div class="row banner2">

                    <div class="col-md-7">

                        <h1 class="editContent">Vestibulum pellentesque nunc ac porta</h1>

                        <p class="editContent">
                            Proin ullamcorper non neque nec lacinia. Praesent sodales libero accumsan pulvinar tempus. Proin nec lacus enim. Vivamus ullamcorper iaculis arcu et semper. Nulla venenatis nibh sed ligula placerat bibendum. Suspendisse malesuada enim eget elit congue rutrum.
                        </p>

                        <a href="#" class="btn btn-primary btn-embossed btn-wide"><span class="fa fa-arrow-circle-o-right"></span> 了解更多</a>

                    </div>

                </div><!-- /.row -->

            </div><!-- /.container -->

        </header></div><!-- /.wrapper -->

    <!-- /.item --><!-- Start Content Block 2-8 -->
    <section id="content-2-8" class="content-2-8 content-block-nopad bg-crete">

        <div class="image-container col-sm-6 pull-left">
            <div class="background-image-holder">

            </div>
        </div>

        <div class="container">

            <div class="row">

                <div class="col-md-6 col-md-offset-6 col-sm-7 col-sm-offset-5 col-xs-12 content clearfix">
                    <div class="editContent">
                        <h1>Our customer support is the very best!</h1>
                    </div>
                    <div class="editContent">
                        <p class="lead">We don't want to overload you with hundreds of styles you don't want, or need. We give you a strong base to express your own creativity.</p>
                    </div>
                    <div class="row pad15">
                        <div class="col-xs-2">
                            <span class="fa fa-rocket fa-4x"></span>
                        </div>
                        <div class="col-xs-10">
                            <div class="editContent">
                                <h3>Great for sharing photos.</h3>
                            </div>
                            <div class="editContent">
                                <p>Retro chillwave YOLO four loko photo booth. Brooklyn kale chips, seitan hella 3 wolf moon slow-carb paleo.</p>
                            </div>
                        </div>
                    </div><!-- /.row -->
                    <div class="row pad15">
                        <div class="col-xs-2">
                            <span class="fa fa-tags fa-4x"></span>
                        </div>
                        <div class="col-xs-10">
                            <div class="editContent">
                                <h3>Great for sharing photos.</h3>
                            </div>
                            <div class="editContent">
                                <p>Retro chillwave YOLO four loko photo booth. Brooklyn kale chips, seitan hella 3 wolf moon slow-carb paleo.</p>
                            </div>
                        </div>
                    </div><!-- /.row -->
                </div>

            </div><!-- /.row-->

        </div><!-- /.container -->

    </section>
    <!-- // End Content Block 2-8 --><!-- Start Footer 1-1 -->
<section class="content-block-nopad bg-deepocean">
    <div class="container footer-1-3">
        <div class="col-md-4 pull-left">
            <img src="images/brand/solar.png" class="brand-img img-responsive">
            <ul class="social social-light">
                <li><a href="#"><i class="fa fa-2x fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-2x fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-2x fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-2x fa-pinterest"></i></a></li>
                <li><a href="#"><i class="fa fa-2x fa-behance"></i></a></li>
                <li><a href="#"><i class="fa fa-2x fa-dribbble"></i></a></li>
            </ul><!-- /.social -->
        </div>
        <div class="col-md-3 pull-right">
            <div class="editContent">
                <p class="address-bold-line">我们 <span class="fa fa-heart pomegranate"></span> 我们的客户</p>
            </div>
            <div class="editContent">
                <p class="address small">
                    工业园区星湖街188号,<br>
                    江苏-苏州,<br>
                    中国 China
                </p>
            </div>
        </div>
        <div class="col-xs-12 footer-text">
            <div class="editContent">
                <p>请花几分钟时间仔细阅读我们的使用 <a href="#">条款 &amp; 约束</a> 以及 <a href="#">隐私策略</a></p>
            </div>
        </div>
    </div><!-- /.container -->
</section>
    <!--// END Footer 1-1 --></div><!-- /#page -->


<!-- Load JS here for greater good =============================-->
<script src="javascripts/jquery-1.8.3.min.js"></script>
<script src="javascripts/jquery-ui-1.10.3.custom.min.js"></script>
<script src="javascripts/jquery.ui.touch-punch.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/bootstrap-select.js"></script>
<script src="javascripts/bootstrap-switch.js"></script>
<script src="javascripts/flatui-checkbox.js"></script>
<script src="javascripts/flatui-radio.js"></script>
<script src="javascripts/jquery.tagsinput.js"></script>
<script src="javascripts/jquery.placeholder.js"></script>
<script src="javascripts/jquery.nivo.slider.pack.js"></script>
<script src="javascripts/application.js"></script>
<script src="javascripts/over.js"></script>
<script>
    $(function(){

        if( $('#nivoSlider').size() > 0 ) {

            $('#nivoSlider').nivoSlider({
                effect: 'random',
                pauseTime: 5000
            });

        }

    })
</script>


</body></html>