<!DOCTYPE html>
<html><head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--pageMeta-->

  <!-- Loading Bootstrap -->
  <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- Loading Flat UI -->
  <link href="stylesheets/flat-ui.css" rel="stylesheet">

  <link href="stylesheets/style.css" rel="stylesheet">

  <link href="stylesheets/style.complete.css" rel="stylesheet">


  <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
  <!--[if lt IE 9]>
  <script src="javascripts/html5shiv.js"></script>
  <script src="javascripts/respond.min.js"></script>
  <![endif]-->

  <!--headerIncludes-->


</head>
<body>

<div id="page" class="page">

  <header class="item header margin-top-0 header10" id="header10" style="outline-offset: -3px;">

    <div class="wrapper">

      <nav role="navigation" class="navbar navbar-white navbar-embossed navbar-lg navbar-fixed-top">

        <div class="container">

          <div class="navbar-header">
            <button data-target="#navbar-collapse-02" data-toggle="collapse" class="navbar-toggle" type="button">
              <span class="sr-only">Toggle navigation</span>
            </button>
            <a href="#" class="navbar-brand brand"><img src="images/icons/solarcapital2.svg" alt=""><strong> 阳光资本</strong></a>
          </div>

          <div id="navbar-collapse-02" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="active propClone"><a href="/">首 页</a></li>
              <li class="propClone"><a href="/service">服 务</a></li>
              <li class="propClone"><a href="/bbs">社 区</a></li>
              <li class="propClone"><a href="/about">联系我们</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->

        </div><!-- /.container -->

      </nav>

      <div class="container padding-top-100">

        <div class="row">

          <div class="col-md-5">

            <div class="editContent"><h2>金融市场专业资讯及分析服务平台!</h2>
              <p>
                专注、专注、专注！<br>我们只专注于金融市场的大数据分析，挖掘出市场有价值的信息，为客户能够提供更好、更快、更新的信息和专业的分析报告...
              </p></div>

            <form class="headerForm">
              <div class="row">
                <div class="col-xs-6">
                  <input type="text" class="form-control" placeholder="姓 *" id="firstname" name="firstname">
                </div>
                <div class="col-xs-6">
                  <input type="text" class="form-control" placeholder="名 *" id="lastname" name="lastname">
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <input type="email" class="form-control" placeholder="邮箱地址 *" id="email" name="email">
                </div>

              </div>
              <button type="submit" class="btn btn-primary btn-block"><span class="fui-check"></span> 立 即 试 用</button>
            </form>

          </div><!-- .col -->

          <div class="col-md-6 col-md-offset-1">

            <div class="videoWrapper">
              <iframe width="560" height="315" src="//www.youtube.com/embed/uQBL7pSAXR8?controls=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe>

            </div>

          </div><!-- /.col -->

        </div><!-- /.row -->

      </div><!-- /.container -->

    </div><!-- /.wrapper -->

  </header><!-- /.item --><div class="item portfolio" id="portfolio1">

    <div class="container">

      <div class="row margin-bottom-40">

        <div class="col-md-12">

          <p class="lead text-center editContent">我们提供哪些产品和服务？</p>

        </div><!-- /.col-md-12 -->

      </div><!-- /.row -->

      <div class="row">

        <div class="col-md-4 text-center">

          <div class="col">

            <a href=""><img src="images/portfolio1.jpg" class="img-circle" alt=""></a>

            <h3 class="editContent">市场大数据</h3>

            <p class="editContent"><b data-redactor-tag="b">
                <span class="fa fa-tags"></span> 实时行情,<br>
                <span class="fa fa-tags"></span> 市场热点监测,<br>
                <span class="fa fa-tags"></span> 多维度视角,<br>
                <span class="fa fa-tags"></span> 关键信息提醒</b></p>

          </div><!-- /.col -->

        </div><!-- /.col-md-4 col -->

        <div class="col-md-4 text-center">

          <div class="col">

            <a href=""><img src="images/portfolio2.jpg" class="img-circle" alt=""></a>

            <h3 class="editContent">深度分析报告</h3>

            <p class="editContent"><b data-redactor-tag="b">
                <span class="fa fa-tags"></span> 全市场数据,<br>
                <span class="fa fa-tags"></span> 专业BI分析平台,<br>
                <span class="fa fa-tags"></span> 机器学习,<br>
                <span class="fa fa-tags"></span> 报告自动生成</b></p>

          </div><!-- /.col -->

        </div><!-- /.col-md-4 col -->

        <div class="col-md-4 text-center">

          <div class="col">

            <a href=""><img src="images/portfolio3.jpg" class="img-circle" alt=""></a>

            <h3 class="editContent">量化投资</h3>

            <p class="editContent"><b data-redactor-tag="b">
                <span class="fa fa-tags"></span> Python量化,<br>
                <span class="fa fa-tags"></span> pandas, Talib, Scikit-Learn库支持,<br>
                <span class="fa fa-tags"></span> 量化测试,<br>
                <span class="fa fa-tags"></span> TBC</b></p>

          </div><!-- /.col -->

        </div><!-- /.col-md-4 col -->

      </div><!-- /.row -->

    </div><!-- /.container -->

  </div><!-- /.item --><div class="wrapperDark">

    <div class="container" id="divider5">

      <div class="col-md-12">

        <div class="divider dashed">

          <span class="editContent">服务 &amp; 定价</span>

        </div><!-- /.divider -->

      </div><!-- /.col -->

    </div><!-- /.container -->

  </div><!-- /.wrapperDark --><div class="item pricing" id="pricing_table1">

    <div class="container">

      <div class="row">

        <div class="col-md-4">

          <div class="pricing1">

            <div class="top">

              <h2 class="editContent">体验版</h2>

              <p class="price "><b class="editContent" style="">$0</b> <span class="editContent" style="">元/月</span></p>

            </div><!-- /.top -->

            <div class="bottom">

              <div class="editContent" style=""><ul>
                  <li><b>沪深行情数据</b></li>
                  <li><b>沪深大数据展示体验</b></li>
                  <li><b>沪深分析体验</b></li>
                  <li><b>量化体验</b></li>
                  <li><b>...</b></li>
                </ul></div><!-- /.editContent -->

              <a href="/basic" class="btn btn-lg btn-embossed btn-block btn-primary"><span class="fa fa-credit-card"></span> 立即体验</a>

            </div><!-- /.bottom -->

          </div><!-- /.pricing1 -->

        </div><!-- /.col-md-4 col -->

        <div class="col-md-4">

          <div class="pricing1">

            <div class="top">

              <h2 class="editContent">个人版</h2>

              <p class="price"><b class="editContent" style="">$99</b> <span class="editContent" style="">元/月</span></p>

            </div><!-- /.top -->

            <div class="bottom">

              <div class="editContent"><ul>
                  <li><b>超过3个市场的数据</b></li>
                  <li><b>个性化大数据展示</b></li>
                  <li><b>简单易用的分析平台</b></li>
                  <li><b>7x24小时高可用</b></li>
                  <li>解锁各种新功能</li>
                </ul></div><!-- /.editContent -->

              <a href="" class="btn btn-lg btn-embossed btn-block btn-primary"><span class="fa fa-credit-card"></span> 立即订购</a>

            </div><!-- /.bottom -->

          </div><!-- /.pricing1 -->

        </div><!-- /.col-md-4 col -->

        <div class="col-md-4">

          <div class="pricing1">

            <div class="top">

              <h2 class="editContent">机构版</h2>

              <p class="price"><b class="editContent">$800</b> <span class="editContent" style="">元/月</span></p>

            </div><!-- /.top -->

            <div class="bottom">

              <div class="editContent">
                <ul>
                  <li><b>全市场数据</b></li>
                  <li><b>专业的大屏信息展示</b></li>
                  <li><b>免费的深度分析服务</b></li>
                  <li><b>定制需求2小时快速响应</b></li>
                  <li>7x24高可用服务</li>
                </ul>
              </div><!-- /.editContent -->

              <a href="" class="btn btn-lg btn-embossed btn-block btn-primary"><span class="fa fa-credit-card"></span> 立即订购</a>

            </div><!-- /.bottom -->

          </div><!-- /.pricing1 -->

        </div><!-- /.col-md-4 col -->

      </div><!-- /.row -->

    </div><!-- /.container -->

  </div><!-- /.item --><!-- Start Content Block 1-7 -->
  <section id="content-1-7" class="content-1-7 content-block">

    <div class="container">

      <div class="row">
        <div class="col-md-2 col-sm-4 col-xs-6">
          <img alt="Client Logo" src="images/partner-logos/logo-bootstrap.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
          <img alt="Client Logo" src="images/partner-logos/logo-less.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
          <img alt="Client Logo" src="images/partner-logos/logo-sass.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
          <img alt="Client Logo" src="images/partner-logos/logo-yeoman.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
          <img alt="Client Logo" src="images/partner-logos/logo-bower.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
          <img alt="Client Logo" src="images/partner-logos/logo-jquery.png">
        </div>
      </div><!--end of row-->

    </div><!-- /.container -->

  </section>
  <!-- // End Content Block 1-7 --><!-- Start Footer 1-1 -->
  <section class="content-block-nopad bg-deepocean">
    <div class="container footer-1-1">
      <div class="row">

        <div class="col-sm-5">
          <img src="images/brand/solar.png" class="brand-img img-responsive">
          <div class="editContent">
            <h3>每天超过 <strong>1,000,000</strong> 数据更新 …</h3>
          </div>
          <div class="editContent">
            <p class="lead">为您的投资尽可能的提供 <strong>高质量</strong> 的服务… 享受投资的乐趣!</p>
          </div>
        </div>

        <div class="col-sm-6 col-sm-offset-1">
          <div class="row">
            <div class="col-md-4">
              <div class="editContent"><h4>快捷方式</h4></div>
              <div class="editContent" style=""><ul>
                  <li><a href="/">首&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;页</a></li>
                  <li><a href="/service">服&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;务</a></li>
                  <li><a href="/bbs">社&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;区</a></li>
                  <li><a href="/about">联系我们</a></li>
                </ul></div>
            </div>
            <div class="col-md-4">
              <div class="editContent">
                <h4>使用规范</h4>
              </div>
              <div class="editContent">
                <ul>
                  <li><a href="#">隐私政策</a></li>
                  <li><a href="#">条款 &amp; 约束</a></li>
                  <li><a href="#">Cookie策略</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <div class="editContent">
                <h4>还不了解?</h4>
              </div>
              <a href="#" class="btn btn-block btn-primary">立即体验</a>
            </div>
          </div>
        </div>

      </div><!-- /.row -->
    </div><!-- /.container -->
  </section>
  <!--// END Footer 1-1 --></div><!-- /#page -->


<!-- Load JS here for greater good =============================-->
<script src="javascripts/jquery-1.8.3.min.js"></script>
<script src="javascripts/jquery-ui-1.10.3.custom.min.js"></script>
<script src="javascripts/jquery.ui.touch-punch.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/bootstrap-select.js"></script>
<script src="javascripts/bootstrap-switch.js"></script>
<script src="javascripts/flatui-checkbox.js"></script>
<script src="javascripts/flatui-radio.js"></script>
<script src="javascripts/jquery.tagsinput.js"></script>
<script src="javascripts/jquery.placeholder.js"></script>
<script src="javascripts/jquery.nivo.slider.pack.js"></script>
<script src="javascripts/application.js"></script>
<script src="javascripts/over.js"></script>
<script>
    $(function(){

        if( $('#nivoSlider').size() > 0 ) {

            $('#nivoSlider').nivoSlider({
                effect: 'random',
                pauseTime: 5000
            });

        }

    })
</script>


</body></html>