<!DOCTYPE html>
<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Script Eden ( http://scripteden.net/ ) Template Builder v2.0.0">
    <!--pageMeta-->

    <!-- Loading Bootstrap -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="stylesheets/flat-ui.css" rel="stylesheet">

    <link href="stylesheets/style.css" rel="stylesheet">

    <link href="stylesheets/style.complete.css" rel="stylesheet">


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
    <script src="javascripts/html5shiv.js"></script>
    <script src="javascripts/respond.min.js"></script>
    <![endif]-->

    <!--headerIncludes-->


</head>
<body>

<div id="page" class="page">

    <header class="item header margin-top-0 header10" id="header10" style="outline-offset: -3px;">

        <div class="wrapper">

            <nav role="navigation" class="navbar navbar-white navbar-embossed navbar-lg navbar-fixed-top">

                <div class="container">

                    <div class="navbar-header">
                        <button data-target="#navbar-collapse-02" data-toggle="collapse" class="navbar-toggle" type="button">
                            <span class="sr-only">Toggle navigation</span>
                        </button>
                        <a href="#" class="navbar-brand brand"><img src="images/icons/solarcapital2.svg" alt=""><strong> 阳光资本</strong></a>
                    </div>
                    <div id="navbar-collapse-02" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="propClone"><a href="/">首 页</a></li>
                            <li class="active propClone"><a href="/service">服 务</a></li>
                            <li class="propClone"><a href="/bbs">社 区</a></li>
                            <li class="propClone"><a href="/about">联系我们</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>

            </div><!-- /.container -->

        </div><!-- /.wrpaper -->

        <header class="wrapper grey">

            <div class="container">

                <div class="row banner2">

                    <div class="col-md-7">

                        <h1 class="editContent">Vestibulum pellentesque nunc ac porta</h1>

                        <p class="editContent">
                            Proin ullamcorper non neque nec lacinia. Praesent sodales libero accumsan pulvinar tempus. Proin nec lacus enim. Vivamus ullamcorper iaculis arcu et semper. Nulla venenatis nibh sed ligula placerat bibendum. Suspendisse malesuada enim eget elit congue rutrum.
                        </p>

                        <a href="#" class="btn btn-primary btn-embossed btn-wide"><span class="fa fa-arrow-circle-o-right"></span> 了解更多</a>

                    </div>

                </div><!-- /.row -->

            </div><!-- /.container -->

        </header></div><!-- /.wrapper -->

    <!-- /.item --><!-- Start Content Block 2-4 -->
    <section class="content-block content-2-4 min-height-400px bg-deepocean">
        <div class="container text-center">
            <i class="fa fa-4x fa-quote-left"></i>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="item">
                        <div class="editContent">
                            <h1><strong>所有努力绝不落空</strong>.</h1>
                        </div>
                        <div class="editContent">
                            <h3 class="text-muted">彭博社 - <a href="#">Bloomberg</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container -->
    </section>
    <!--// END Content Block 2-4 --><!-- Start Content Block 2-9 -->
    <section id="content-2-9" class="content-2-9">

        <div class="project-wrapper">

            <div class="col-md-3 col-sm-6 project">
                <div class="background-image-holder">
                    <img class="background-image" alt="Background Image" src="images/project-1.jpg">
                </div>
                <div class="hover-state">
                    <div class="align-vertical">
                        <div class="editContent">
                            <h3>Work Project 1</h3>
                        </div>
                        <div class="editContent">
                            <p>Mustache retro chillwave YOLO four loko photo booth.</p>
                        </div>
                        <a href="#" class="btn btn-outline outline-light">See Project</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 project">
                <div class="background-image-holder">
                    <img class="background-image" alt="Background Image" src="images/project-2.jpg">
                </div>
                <div class="hover-state">
                    <div class="align-vertical">
                        <div class="editContent">
                            <h3>Work Project 2</h3>
                        </div>
                        <div class="editContent">
                            <p>Mustache retro chillwave YOLO four loko photo booth.</p>
                        </div>
                        <a href="#" class="btn btn-outline outline-light">See Project</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 project">
                <div class="background-image-holder">
                    <img class="background-image" alt="Background Image" src="images/project-3.jpg">
                </div>
                <div class="hover-state">
                    <div class="align-vertical">
                        <div class="editContent">
                            <h3>Work Project 3</h3>
                        </div>
                        <div class="editContent">
                            <p>Mustache retro chillwave YOLO four loko photo booth.</p>
                        </div>
                        <a href="#" class="btn btn-outline outline-light">See Project</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 project">
                <div class="background-image-holder">
                    <img class="background-image" alt="Background Image" src="images/project-4.jpg">
                </div>
                <div class="hover-state">
                    <div class="align-vertical">
                        <div class="editContent">
                            <h3>Work Project 4</h3>
                        </div>
                        <div class="editContent">
                            <p>Mustache retro chillwave YOLO four loko photo booth.</p>
                        </div>
                        <a href="#" class="btn btn-outline outline-light">See Project</a>
                    </div>
                </div>
            </div>

        </div><!-- /.project-wrapper -->

    </section>
    <!-- // End Content Block 2-9 --><!-- Start Content Block 1-9 -->
    <section id="content-1-9" class="content-1-9 content-block">

        <div class="container">

            <div class="underlined-title">
                <div class="editContent">
                    <h1>我们做什么!</h1>
                </div>
                <hr>
                <div class="editContent">
                    <h2>专注于金融市场数据深度挖掘</h2>
                </div>
            </div>

            <div class="row">

                <div class="col-md-4 col-sm-12 col-xs-12 pad25">
                    <div class="col-xs-2">
                        <span class="fa fa-pencil"></span>
                    </div>
                    <div class="col-xs-10">
                        <div class="editContent">
                            <h4>Branding</h4>
                        </div>
                        <div class="editContent">
                            <p>Retro chillwave YOLO four loko photo booth. Brooklyn kale chips, seitan hella 3 wolf moon slow-carb paleo.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 col-xs-12 pad25">
                    <div class="col-xs-2">
                        <span class="fa fa-code"></span>
                    </div>
                    <div class="col-xs-10">
                        <div class="editContent">
                            <h4>Web Design</h4>
                        </div>
                        <div class="editContent">
                            <p>Retro chillwave YOLO four loko photo booth. Brooklyn kale chips, seitan hella 3 wolf moon slow-carb paleo.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 col-xs-12 pad25">
                    <div class="col-xs-2">
                        <span class="fa fa-comments-o"></span>
                    </div>
                    <div class="col-xs-10">
                        <div class="editContent">
                            <h4>Social Marketing</h4>
                        </div>
                        <div class="editContent">
                            <p>Retro chillwave YOLO four loko photo booth. Brooklyn kale chips, seitan hella 3 wolf moon slow-carb paleo.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 col-xs-12 pad25">
                    <div class="col-xs-2">
                        <span class="fa fa-search"></span>
                    </div>
                    <div class="col-xs-10">
                        <div class="editContent">
                            <h4>SEO</h4>
                        </div>
                        <div class="editContent">
                            <p>Retro chillwave YOLO four loko photo booth. Brooklyn kale chips, seitan hella 3 wolf moon slow-carb paleo.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 col-xs-12 pad25">
                    <div class="col-xs-2">
                        <span class="fa fa-mobile"></span>
                    </div>
                    <div class="col-xs-10">
                        <div class="editContent">
                            <h4>Mobile Apps</h4>
                        </div>
                        <div class="editContent">
                            <p>Retro chillwave YOLO four loko photo booth. Brooklyn kale chips, seitan hella 3 wolf moon slow-carb paleo.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 col-xs-12 pad25">
                    <div class="col-xs-2">
                        <span class="fa fa-bookmark"></span>
                    </div>
                    <div class="col-xs-10">
                        <div class="editContent">
                            <h4>Corporate Literture</h4>
                        </div>
                        <div class="editContent">
                            <p>Retro chillwave YOLO four loko photo booth. Brooklyn kale chips, seitan hella 3 wolf moon slow-carb paleo.</p>
                        </div>
                    </div>
                </div>

            </div><!-- /.row -->
        </div><!-- /.container -->

    </section>
    <!-- // End Content Block 1-9 --><!-- Start Content Block 2-7 -->
    <section id="content-2-7" class="content-block content-2-7">
        <div class="container">

            <div class="row">

                <div class="col-sm-12">
                    <div class="underlined-title">
                        <div class="editContent">
                            <h1>Some fun facts &amp; figures</h1>
                        </div>
                        <hr>
                        <div class="editContent">
                            <h2>You'll <span class="fa fa-heart pomegranate"></span> Bootstrap Starter Kit</h2>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3 text-center">
                    <div class="counter-icon">
                        <span class="fa fa-magic"></span>
                    </div>
                    <div class="counter-text">
                        <div class="editContent">
                            <h3 class="counter">636</h3>
                        </div>
                        <div class="editContent">
                            <p>Monsters created</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3 text-center">
                    <div class="counter-icon">
                        <span class="fa fa-coffee"></span>
                    </div>
                    <div class="counter-text">
                        <div class="editContent">
                            <h3 class="counter">1349</h3>
                        </div>
                        <div class="editContent">
                            <p>Cups of English Tea</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3 text-center">
                    <div class="counter-icon">
                        <span class="fa fa-lightbulb-o"></span>
                    </div>
                    <div class="counter-text">
                        <div class="editContent">
                            <h3 class="counter">2496</h3>
                        </div>
                        <div class="editContent">
                            <p>Ideas generated</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3 text-center">
                    <div class="counter-icon">
                        <span class="fa fa-clock-o"></span>
                    </div>
                    <div class="counter-text">
                        <div class="editContent">
                            <h3 class="counter">4694</h3>
                        </div>
                        <div class="editContent">
                            <p>Hours spent working</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 text-center pad45">
                    <div class="editContent">
                        <strong class="white">No dancing kittens were harmed in the process of making <a href="http://bootstrapstarterkit.com">Bootstrap Starter Kit.</a></strong>
                    </div>
                </div>

            </div><!-- /.row -->

        </div><!-- /.container -->
    </section>


    <!--// END Content Block 2-7 --><!-- Start Footer 1-3 -->
<section class="content-block-nopad bg-deepocean">
    <div class="container footer-1-3">
        <div class="col-md-4 pull-left">
            <img src="images/brand/solar.png" class="brand-img img-responsive">
            <ul class="social social-light">
                <li><a href="#"><i class="fa fa-2x fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-2x fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-2x fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-2x fa-pinterest"></i></a></li>
                <li><a href="#"><i class="fa fa-2x fa-behance"></i></a></li>
                <li><a href="#"><i class="fa fa-2x fa-dribbble"></i></a></li>
            </ul><!-- /.social -->
        </div>
        <div class="col-md-3 pull-right">
            <div class="editContent">
                <p class="address-bold-line">我们 <span class="fa fa-heart pomegranate"></span> 我们的客户</p>
            </div>
            <div class="editContent">
                <p class="address small">
                    工业园区星湖街188号,<br>
                    江苏-苏州,<br>
                    中国 China
                </p>
            </div>
        </div>
        <div class="col-xs-12 footer-text">
            <div class="editContent">
                <p>请花几分钟时间仔细阅读我们的使用 <a href="#">条款 &amp; 约束</a> 以及 <a href="#">隐私策略</a></p>
            </div>
        </div>
    </div><!-- /.container -->
</section>
    <!--// END Footer 1-3 --></div><!-- /#page -->


<!-- Load JS here for greater good =============================-->
<script src="javascripts/jquery-1.8.3.min.js"></script>
<script src="javascripts/jquery-ui-1.10.3.custom.min.js"></script>
<script src="javascripts/jquery.ui.touch-punch.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/bootstrap-select.js"></script>
<script src="javascripts/bootstrap-switch.js"></script>
<script src="javascripts/flatui-checkbox.js"></script>
<script src="javascripts/flatui-radio.js"></script>
<script src="javascripts/jquery.tagsinput.js"></script>
<script src="javascripts/jquery.placeholder.js"></script>
<script src="javascripts/jquery.nivo.slider.pack.js"></script>
<script src="javascripts/application.js"></script>
<script src="javascripts/over.js"></script>
<script>
    $(function(){

        if( $('#nivoSlider').size() > 0 ) {

            $('#nivoSlider').nivoSlider({
                effect: 'random',
                pauseTime: 5000
            });

        }

    })
</script>


</body></html>